[run]
branch = True
omit =
    */tests/*

[report]
show_missing = True
skip_covered = False

# ✅ ตัดบรรทัดที่ไม่ต้องการให้นับ coverage ออก
exclude_lines =
    pragma: no cover
    raise RuntimeError
    raise AssertionError
    raise Exception
    return None
    continue
    safe_print
